{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^server-only$",
    "^client-only$",
    "^node:",
    "^react$",
    "^react/(.*)$",
    "^next$",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/modules/(.*)$",
    "^@/features/(.*)$",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
